<?xml version="1.0" encoding="UTF-8"?>
<web-app 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
    version="3.0">
 
  <servlet>
    <servlet-name>jokerServlet</servlet-name>
    <servlet-class>com.joker.core.mvc.servlet.JokerDispatcherServlet</servlet-class>  
    <init-param>
		<param-name>config</param-name>
		<param-value>/WEB-INF/config/joker-config.xml</param-value>
	</init-param>
	<load-on-startup>1</load-on-startup>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>jokerServlet</servlet-name>
    <url-pattern>*.jk</url-pattern>
  </servlet-mapping>
      
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

</web-app>